.company-header {
    background-color: #e9f1e6;
}

.logo {
    height: 70px;
}
.gst_numberset {
    position: absolute;
    top: 34px;
    left: 20px;
    font-size: 14px;
}
.gst_input {
    padding-left: 22px;    
    letter-spacing: 2px;
}
.gst_input_set {
    padding-left: 5px;
}
.calender-btn {
    padding: 0;
    margin: 0;
    border: 1px solid #999999 !important;
    box-shadow: none;
    color: rgb(151, 96, 96);
}
.select-date-icon {
    font-size: 20px;
    padding: 0 10px;
    color: #464545;
}
.ngb-dp-weekday {
    color: #000 !important;
}
.btn-link {
    color: #000;
}
.mt-50 {
    margin-top: 50px;
}
/* -------- SCROLL -------- */

.modal {
    display: block !important;
}
.modal-dialog {
    overflow-y: initial !important;
}
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
/* ------------------------ */

.header-pd {
    padding: 5px 10px;
    background-color: #fff;
    box-shadow:0 7px 12px 0 rgb(95 118 232 / 21%);
}
.add-company {
    background:#1441EB;
    color: #fff !important;
    border-radius: 30px;
    padding: 7px 15px !important;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.add-logout-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.table-header {
    background-color: #ff969a;
    color: #000;
    font-family: "Comfortaa-Bold_2";
}
.table-body {
    font-family: "Gilroy-Light";
}
.btn:hover {
    box-shadow: none !important;
}
.btn-dots {
    font-size: 24px;
    color: #30304b;
}
.drop-option {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 6px;
}
.dropdown-menu.show {
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
}
.icon-one {
    margin-right: 10px;
    font-size: 18px;
    color: #1c0ba3;
}
.icon-two {
    margin-right: 14px;
    font-size: 18px;
    color: #e30a0a;
}
.icon-three {
    margin-right: 10px;
    font-size: 18px;
    color: #665858;
}
.icon-four {
    margin-right: 12px;
    font-size: 18px;
    color: #12720b;
}
.dropdown-toggle::after {
    display: none;
}
.table-responsive {
    margin-top: 20px;
    border: 1px solid #ccc;
}
.img-fix {
    width: 100%;    
    height: 70px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
span#basic-addon2 {
    background-color: #ffa8a8;
    font-size: 10px;
}
input.form-control.upload-img {
    background: transparent;
}
.upload-img-box {
    background-color: #f8f7f7;
    width: 100%;
    height: 80px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}
.upload-img-box img {
    object-fit: contain;
}
.logo-img {
    width: 100%;
    overflow: hidden;
}
input.form-control.upload-img {
    border-radius: 5px 0 0 5px !important;
}
.footer-btn {
    font-family: "Gilroy-ExtraBold";
    background-color: #ffa8a8;
    color: #000 !important;
    border-radius: 20px;
    padding: 6px 18px !important;
    font-size: 12px;
    float: right;
}
.modal-body {
    padding: 30px 15px;
}
.modal-header {
    background-color: #e9f1e6;
}
.modal-title {
    text-align: center;
    font-family: "Gilroy-ExtraBold";
    width: 100%;
}
::ng-deep ul.pagination.ng-star-inserted {
    float: right;
}
/* ------------------ */
.card-body {
    margin-top: 15px;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    min-height: 245px;
}
::ng-deep .mb-10 {
    margin-bottom: 15px !important;
}
.card-body h4 {
    font-family: "Gilroy-ExtraBold";
    font-size: 16px;
    text-transform: capitalize;
}
.card-body h5 {
    font-family: "Gilroy-Light";
    font-size: 14px;
    line-height: 26px;
    font-weight: 800;
    margin: 0;
}
.heading {
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer-bg {
    text-align: center;
    padding: 10px;
    background: #e9f1e6;
    margin-top: 15px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 0 0 10px 10px;
}
.card-body .row {
    margin: 0;    
    height: 72px;
}
.display-body ul {
    padding: 0;
}
.display-body li {
    display: inherit;
    border-bottom: 1px dotted #ccc;
    line-height: 30px;
}
.display-body span {
    display: table-cell;
}
.display-body span:first-child {
    width: 120px;
}
.display-body :hover {
    cursor: pointer;
}
.user-icon {
    font-size: 28px;
    color: #5156be;
}
.btn-pd {
    padding: 0;
}
.details-row p {
    font-size: 13px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.details-row img {
    width: 220px;
}
.btn:focus,
.btn.focus {
    box-shadow: none;
}
/* -------- DATE -------------- */
.select-date-icon {
    font-size: 20px;
    padding: 0 10px;
    color: #464545;
}
.calender-btn {
    padding: 0;
    margin: 0;
    border: 1px solid #999999 !important;
    box-shadow: none;
    color: rgb(151, 96, 96);
}
::ng-deep span.ng-clear-wrapper.ng-star-inserted {
    display: none !important;
}
.checkmark {
    height: 25px;
    vertical-align: middle;
    width: 25px;
    background-color: #eee;
}
.composition_dealer {
    font-size: 14px;
    display: flex;
    justify-content: left;
    align-items: center;
}
/* =============================================== / Media Query Phone / ======================================================= */

@media (min-width: 320px) and (max-width: 480px) {
    .logo {
        width: 60%;
    }
    .logout-btn {
        padding: 3px 10px !important;
        font-size: 8px;
        margin: 0;
        margin-top: 8px;
        margin-right: 2px;
    }
    .modal-body {
        padding: 30px 20px;
    }
    .modal-title {
        font-size: 16px;
    }
    .add-company {
        padding: 3px 12px !important;
        font-size: 8px;
    }
    .card-body {
        margin: 10px 10px 0px 10px !important;
        padding: 15px 15px 0px 15px !important;
        min-height: 220px;
    }
    .img-fix {
        width: 100% !important;
        height: 50px !important;
    }
    .card-body .row {
        margin: 0 !important;
    }
    .display-body span {
        font-size: 13px;
    }
}

/* ================================================ / Media Query ipad / =================================================== */

@media (min-width: 768px) and (max-width: 1024px) {
    .modal-body {
        padding: 30px 20px;
    }
    .card-body {
        min-height: 280px;
    }
    .gst_numberset {
        position: absolute;
        top: 37px;
    }
}
