<div class="company">
    <div class="container-fluid company-header">
        <div class="row header-pd">
            <div class="col-sm-6 col-4">
                <a routerLink="/company" routerLinkActive="active"><img src="assets/images/logo.png" class="img-fluid logo" /></a>
            </div>
            <div class="col-sm-6 col-8 add-logout-btn">
                <button routerLink="/priceplanetwo" routerLinkActive="active" class="btn add-company">
                    <span *ngIf="activeuser.subscription_end_date >= activeuser.serverdate">Upgrade Plan ({{getDate(activeuser.subscription_end_date)}})</span>
                    <span *ngIf="activeuser.subscription_end_date <= activeuser.serverdate">Buy Plan</span>
                </button>
                <button  [disabled]="activeuser.subscription_end_date <= activeuser.serverdate" (click)="openAddModal(template)" class="btn add-company">ADD COMPANY</button>
                <button (click)="logout()" class="btn add-company">LOGOUT</button>
                <!-- <h4 [routerLink]="['/plan']" routerLinkActive="active" >CLICK PLAN</h4> -->
                <div class="dropdown" ngbDropdown>
                    <button class="btn toggle-btn btn-pd" type="button" ngbDropdownToggle>
                        <i class="fa fa-user-circle user-icon" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu user-dtls" ngbDropdownMenu>
                        <div class="details-row">
                            <p>
                                <b>User Name :</b><br />
                                {{activeuser['name']}}
                            </p>
                        </div>
                        <div class="details-row">
                            <p>
                                <b>Mobile No :</b><br />
                                {{activeuser['phone']}}
                            </p>
                        </div>
                        <div class="details-row">
                            <p>
                                <b>Email Id :</b><br />
                                {{activeuser['email']}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="companyform">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-6" *ngFor="let company of companyList; let i = index">
                    <div class="card card-body" >
                        <form>
                            <div class="row mb-10">
                                <div class="col-sm-3 col-3 pl-0" *ngIf="company.company_logo" (click)="gotoDashBoard(company)">
                                    <div class="img_logo">
                                        <img [src]="company.company_logo? imgbaseurl+company.company_logo : ''" class="img-fluid img-fix" />
                                    </div>
                                </div>
                                <div class="col-sm-7 col-6 p-0 heading" (click)="gotoDashBoard(company)">
                                    <h4>{{company.company_name}}</h4>
                                </div>
                                <div class="col-sm-3 col-3 pl-0" *ngIf="!company.company_logo" (click)="gotoDashBoard(company)"></div>
                                <div class="col-sm-2 col-3 heading">
                                    <button ngbDropdownItem class="btn drop-option" (click)="gotoDashBoard(company)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                    <div class="dropdown" ngbDropdown>
                                        <button class="btn toggle-btn" type="button" ngbDropdownToggle>
                                            <i class="fa fa-ellipsis-h btn-dots" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <button ngbDropdownItem class="btn drop-option" [disabled]="activeuser.subscription_end_date <= activeuser.serverdate" (click)="openEditModal(edittemplate, company)" rounded="true" data-toggle="modal" data-target="#updaterecord">
                                                <i class="fa fa-pencil-square-o icon-one" aria-hidden="true"></i> Edit Company
                                            </button>
                                            <button ngbDropdownItem class="btn drop-option" [disabled]="activeuser.subscription_end_date <= activeuser.serverdate" (click)="deletecompanyModal(deletetemplate, company)"><i class="fa fa-trash icon-two" aria-hidden="true"></i>Delete Company</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="display-body" (click)="gotoDashBoard(company)">
                                <ul>
                                    <li>
                                        <span>
                                            <h5>Book Start Date</h5>
                                        </span>
                                        <span>{{ company.bookstart_date === 'null' ? '' :getDate(company.bookstart_date) }}</span>
                                    </li>
                                    <li>
                                        <span>
                                            <h5>Last Entry Date</h5>
                                        </span>
                                        <span>{{ company.entry === null ? '' : getDate(company.entry.creation_date) }}</span>
                                    </li>
                                    <li>
                                        <span>
                                            <h5>GST Number</h5>
                                        </span>
                                        <span>{{ company.gst_number === 'null' ? '' : company.gst_number}}</span>
                                    </li>
                                    <li>
                                        <span>
                                            <h5>Address</h5>
                                        </span>
                                        <span>{{company.city.name}},{{company.city.state.name}},{{company.pin_code}}</span>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================== ADD COMPANY MODAL ============================== -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">Add Company</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="company-form">
            <form [formGroup]="companyform" #CompanyForm="ngForm">
                <div class="row">
                    <div class="col-12 col-sm-4 composition_dealer">
                        <div class="form-group">
                            <input type="checkbox" class="checkmark" formControlName="composition_dealer" data-md-icheck (change)="compositiondealer($event)" />
                            Composition Dealer
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="Company Name">Company Name</label>
                            <input class="form-control" type="text" formControlName="company_name" />
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.company_name">
                                    <div class="error-message" *ngIf="companyform.get('company_name').hasError(validation.type) && (companyform.get('company_name').dirty || companyform.get('company_name').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="stateid">State</label>
                            <ng-select bindLabel="name" placeholder="Select State" formControlName="state_id" appendTo="body" (change)="getCityList($event)" [searchable]="true">
                                <ng-option *ngFor="let state of statelist; let i = index" [value]="state.id"> {{state.name}}</ng-option>
                            </ng-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.state_id">
                                    <div class="error-message" *ngIf="companyform.get('state_id').hasError(validation.type) && (companyform.get('state_id').dirty || companyform.get('state_id').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="cityid">City</label>
                            <ng-select bindLabel="name" placeholder="Select City" formControlName="city_id" appendTo="body" [searchable]="true">
                                <ng-option *ngFor="let city of citylist; let i = index" [value]="city.id">{{city.name}} </ng-option>
                            </ng-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.city_id">
                                    <div class="error-message" *ngIf="companyform.get('city_id').hasError(validation.type) && (companyform.get('city_id').dirty || companyform.get('city_id').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="Street">Street</label>
                            <input class="form-control" type="text" formControlName="street" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="area">Area</label>
                            <input class="form-control" type="text" formControlName="area" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="companypan">Company Pan</label>
                            <input class="form-control" type="text" maxlength="10" minlength="10" formControlName="company_pan_number" />
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.company_pan_number">
                                    <div class="error-message" *ngIf="companyform.get('company_pan_number').hasError(validation.type) && (companyform.get('company_pan_number').dirty || companyform.get('company_pan_number').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="pincode">Pin code</label>
                            <input class="form-control" type="text" maxlength="6" (keypress)="numberOnly($event)" formControlName="pin_code" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="area">GST Number </label>
                            <div class="gst_numberset">{{gstvalidation}}</div>
                            <input class="form-control gst_input" type="text" maxlength="15" formControlName="gst_number" />
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.gst_number">
                                    <div class="error-message" *ngIf="companyform.get('gst_number').hasError(validation.type) && (companyform.get('gst_number').dirty || companyform.get('gst_number').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="number">Phone Number</label>
                            <input class="form-control" (keypress)="numberOnly($event)" minlength="10" maxlength="10" type="text" id="number"  formControlName="phone_number"/>
                            <div class="validation-errors">
                             <ng-container *ngFor="let validation of validation_messages.phone_number">
                                 <div class="error-message" *ngIf="companyform.get('phone_number').hasError(validation.type) && (companyform.get('phone_number').dirty || companyform.get('phone_number').touched)">
                                     {{ validation.message }}
                                 </div>
                             </ng-container>
                         </div>
                         </div>
                     </div>
                     <div class="col-12 col-sm-4">
                        <div class="form-group">
                           <label for="email">Email</label>
                           <input class="form-control" type="email" id="email"  formControlName="email"/>
                           <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.email">
                                <div class="error-message" *ngIf="companyform.get('email').hasError(validation.type) && (companyform.get('email').dirty || companyform.get('email').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        </div>
                     </div>
                     <div class="col-12 col-sm-4">
                        <div class="form-group">
                           <label for="cinnumber">CIN Number</label>
                           <input class="form-control" type="text" id="cinnumber"  formControlName="cin_number"/>
                        </div>
                     </div>
                     <div class="col-12 col-sm-4">
                        <div class="form-group">
                           <label for="website">Website</label>
                           <input class="form-control" type="text" id="website"  formControlName="website"/>
                        </div>
                     </div>
                     <div class="col-12 col-sm-4">
                        <div class="form-group">
                           <label for="jurisdiction">Jurisdiction</label>
                           <input class="form-control" type="text" id="jurisdiction"  formControlName="jurisdiction"/>
                        </div>
                     </div>
                    <div class="col-12 col-sm-4">
                        <!-- <label for="financial_year">Book Start From</label> -->
                        <div class="input-group mt-10">
                            <mat-form-field class="width-set">
                                <input matInput [matDatepicker]="picker" placeholder="Book Start From" [max]="currentDate" formControlName="financial_year" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.financial_year">
                                    <div class="error-message" *ngIf="companyform.get('financial_year').hasError(validation.type) && (companyform.get('financial_year').dirty || companyform.get('financial_year').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Company Logo</label>
                            <div class="logo-img">
                                <label class="input-group">
                                    <input type="file" name="image" ic="file" (change)="onChangeSetImagePath($event)" style="width: 100%; height: 5px; z-index: 10; opacity: 0;" />
                                    <input type="text" style="z-index: 0;" readonly="readonly" class="form-control upload-img" placeholder="Image" aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text chooseimage-btn" id="basic-addon2">CHOOSE LOGO</span>
                                    </div>
                                </label>
                                <div class="upload-img-box" *ngIf="defaultImage">
                                    <img [src]="defaultImage" style="width: 100%; height: 100%;" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label for="teams_condition">Teams & Conditions</label>
                            <textarea class="form-control rounded-0" formControlName="terms" placeholder="Teams & Conditions For Invoice" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="validation-errors">Note : You Can't change your state after successfully Create a company.</div>
                   </div>                      
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <!-- !companyform.valid  -->
        <button class="btn footer-btn" [disabled]="clicked || !companyform.valid" (click)="addCompany()">ADD COMPANY</button>
        <button class="btn footer-btn" (click)="modalRef.hide()">CANCEL</button>
    </div>
</ng-template>
<!-- =========================== EDIT COMPANY DETAIL MODAL ============================== -->
<ng-template #edittemplate>
    <div class="modal-header">
        <h4 class="modal-title">Edit Company</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="company-form">
            <form [formGroup]="companyformedit" #CompanyFormedit="ngForm">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="Company Name">Company Name</label>
                            <input class="form-control" type="text" formControlName="company_name" />
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.company_name">
                                    <div class="error-message" *ngIf="companyformedit.get('company_name').hasError(validation.type) && (companyformedit.get('company_name').dirty || companyformedit.get('company_name').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="stateid">State</label>
                            <ng-select bindLabel="name" placeholder="Select State" formControlName="state_id" (change)="getCityList($event)"  disabled>
                                <ng-option disabled *ngFor="let state of statelist; let i = index" [value]="state.id"> {{state.name}}</ng-option>
                            </ng-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.state_id">
                                    <div class="error-message" *ngIf="companyformedit.get('state_id').hasError(validation.type) && (companyformedit.get('state_id').dirty || companyformedit.get('state_id').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="cityid">City</label>
                            <ng-select bindLabel="name" placeholder="Select City" formControlName="city_id" appendTo="body" [searchable]="true">
                                <ng-option *ngFor="let city of citylist; let i = index" [value]="city.id">{{city.name}} </ng-option>
                            </ng-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.city_id">
                                    <div class="error-message" *ngIf="companyformedit.get('city_id').hasError(validation.type) && (companyformedit.get('city_id').dirty || companyformedit.get('city_id').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="Street">Street</label>
                            <input class="form-control" type="text" formControlName="street" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="area">Area</label>
                            <input class="form-control" type="text" formControlName="area" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="companypan">Company Pan</label>
                            <input class="form-control" type="text" maxlength="10" minlength="10" formControlName="company_pan_number" />
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.company_pan_number">
                                    <div class="error-message" *ngIf="companyformedit.get('company_pan_number').hasError(validation.type) && (companyformedit.get('company_pan_number').dirty || companyformedit.get('company_pan_number').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="pincode">Pin code</label>
                            <input class="form-control" type="text" maxlength="6" (keypress)="numberOnly($event)" formControlName="pin_code" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="area">GST Number</label>
                            <div class="gst_numberset">{{gstvalidation}}</div>
                            <!--  [ngClass]="gst_number == '' ? 'gst_input' : 'gst_input_set'" -->
                            <input class="form-control gst_input" type="text" maxlength="15" formControlName="gst_number" />
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.gst_number">
                                    <div class="error-message" *ngIf="companyformedit.get('gst_number').hasError(validation.type) && (companyformedit.get('gst_number').dirty || companyformedit.get('gst_number').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                            <!-- <div class="validation-errors" *ngIf="!gstvalidation">Please Select a State Again..</div> -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                           <label for="number">Phone Number</label>
                           <input class="form-control" (keypress)="numberOnly($event)" minlength="10" maxlength="10" type="text" id="number"  formControlName="phone_number"/>
                           <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.phone_number">
                                <div class="error-message" *ngIf="companyformedit.get('phone_number').hasError(validation.type) && (companyformedit.get('phone_number').dirty || companyformedit.get('phone_number').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        </div>
                     </div>
                     <div class="col-12 col-sm-4">
                        <div class="form-group">
                           <label for="email">Email</label>
                           <input class="form-control" type="email" id="email"  formControlName="email"/>
                           <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.email">
                                <div class="error-message" *ngIf="companyformedit.get('email').hasError(validation.type) && (companyformedit.get('email').dirty || companyformedit.get('email').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        </div>
                     </div>
                     <div class="col-12 col-sm-4">
                        <div class="form-group">
                           <label for="cinnumber">CIN Number</label>
                           <input class="form-control" type="text" id="cinnumber"  formControlName="cin_number"/>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label for="website">Website</label>
                           <input class="form-control" type="text" id="website"  formControlName="website"/>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label for="jurisdiction">Jurisdiction</label>
                           <input class="form-control" type="text" id="jurisdiction"  formControlName="jurisdiction"/>
                        </div>
                     </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label>Company Logo</label>
                            <div class="logo-img">
                                <label class="input-group">
                                    <input type="file" name="image" ic="file" (change)="onChangeSetImagePath($event)" style="width: 100%; height: 5px; z-index: 10; opacity: 0;" />
                                    <input type="text" style="z-index: 0;" readonly="readonly" class="form-control upload-img" placeholder="Image" aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text chooseimage-btn" id="basic-addon2">CHOOSE LOGO</span>
                                    </div>
                                </label>
                                <div class="upload-img-box" *ngIf="defaultImage">
                                    <img [src]="defaultImage" style="width: 100%; height: 100%;" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="form-group">
                            <label for="teams_condition">Teams & Conditions</label>
                            <textarea class="form-control rounded-0" formControlName="terms" placeholder="Teams & Conditions For Invoice" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn footer-btn" [disabled]="!companyformedit.valid" (click)="editCompany()">SAVE DETAIL</button>
        <button class="btn footer-btn" (click)="modalRef.hide()">CANCEL</button>
    </div>
</ng-template>
<!-- =========================== DELETE COMPANY DETAIL MODAL ============================== -->
<ng-template #deletetemplate>
    <div class="modal-header">
        <h4 class="modal-title">CONFIRMATION</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body delete-modal">
        <h1>Are You Sure want to Delete This Company ?</h1>
    </div>
    <div class="modal-footer">
        <button class="btn footer-btn" (click)="deletecompany(deleteData)">YES</button>
        <button class="btn footer-btn" (click)="modalRef.hide()">NO</button>
    </div>
</ng-template>

<!-- =========================== SUBSCRIPTION MODAL ============================== -->
<ng-template #subscriptionmodal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">SUBSCRIPTION PLAN</h4>
        <button type="button" class="close" aria-label="Close" routerLink="/company" routerLinkActive="active" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body delete-modal">
        <h1>Your Plan has been expired, You need to buy now ...</h1>
    </div>
    <div class="modal-footer">
        <button class="btn footer-btn" (click)="d('Cross click')" routerLink="/company">CANCEL</button>
        <button class="btn footer-btn" (click)="d('Cross click')" routerLink="/priceplanetwo">BUY PLAN</button>
    </div>
</ng-template>
