<app-user-header></app-user-header>
<div id="wrapper">
    <!-- Sidebar -->
    <app-user-menu></app-user-menu>
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <button [routerLink]="['/admin/receipt']" routerLinkActive="active" class="add-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
                </li>

                
               <li class="float-set">     
                    <!-- <button class="btn action-btn wa-btn "> <i class="fa fa-whatsapp" aria-hidden="true"></i> </button> -->
                    <button class="btn action-btn share-btn "> <i class="fa fa-share-alt-square" aria-hidden="true"></i> </button>
                    <!-- <button class="btn action-btn sms-btn"> <i class="fa fa-commenting" aria-hidden="true"></i> </button> -->
                    <button class="btn action-btn dwnload-btn" (click)="downloadAsPDF()"> <i class="fa fa-download" aria-hidden="true"></i> </button>
    
                    <button (click)="printPage()"  class="add-btn">PRINT</button>
                    <button (click)="Nextvoucherprint()" class="add-btn">Next <i class="fa fa-step-forward" aria-hidden="true"></i></button>
                    <button (click)="Previousvoucherprint()" class="add-btn"><i class="fa fa-step-backward" aria-hidden="true"></i>Previous</button>
                </li>
                
            </ol>            

            <!-- ----------------------------------- INVOICE PRINT DESIGN ------------------------------- -->
            <div id="print-section" #downloadpdf>
                <div class="printWrapper" style="margin: 15px auto 0;">
                    <table cellpadding="0" cellspacing="0" style="width:100%;">
                        <tbody>
                            <tr>
                                <td style="width:12%; text-align: left;border: 0.5px solid #868686; border-right: none; border-bottom: none;" class="company_name_set">
                                    <img *ngIf="invoicelogo && invoicelogo" src={{invoicelogo}} style="width: 80px;">
                                </td>
                                <td style="width: 20%; border: none; border-top: 1px solid #868686;">
                                    {{activecompany['company_name']}}
                                </td>
                                <td style="width:70%;text-align: right;padding: 10px;padding-right: 20px;border: 0.5px solid #868686;border-bottom: none;font-size: 15px;font-weight: 500;">
                                    RECEIPT INVOICE
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" style="width:50%;font-weight:500;background-color: #aeaeae;padding:5px  12px;color: #000;border: none;font-size: 12px; border-left: none;">INVOICE ID</td>
                                <td style="font-size: 12px;width:50%;font-weight:500;background-color: #d7d7d7;padding: 5px 12px;color: #000; border: none;">{{receiptvoucher.invoice_id}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="width:40%;font-weight:500;background-color: #aeaeae;padding:5px  12px;color: #000;border:none; font-size: 12px; border-left: none;">VOUCHER DATE</td>
                                <td style="font-size: 12px;width:60%;font-weight:500;background-color: #d7d7d7;padding: 5px 12px;color: #000; border: none;">{{receiptvoucher.invoice_date  | date:'dd MMM yyyy'}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="width:40%;font-weight:500;background-color: #aeaeae;padding:5px  12px;color: #000;border:none; font-size: 12px; border-left: none;">LEDGER NAME</td>
                                <td style="font-size: 12px;width:60%;font-weight:500;background-color: #d7d7d7;padding: 5px 12px;color: #000; border: none;">{{receiptvoucher.ReciptBuyer?receiptvoucher.ReciptBuyer.name:'' || ''}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="width:40%;font-weight:500;background-color: #aeaeae;padding:5px  12px;color: #000;border:none; font-size: 12px; border-left: none;">RECEIVE IN (THOUGH BANK/CASH)</td>
                                <td style="font-size: 12px;width:60%;font-weight:500;background-color: #d7d7d7;padding: 5px 12px;color: #000; border: none;">{{receiptvoucher.ReciptReciver?receiptvoucher.ReciptReciver.name:'' || ''}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="width:40%;font-weight:500;background-color: #aeaeae;padding:5px  12px;color: #000;border:none; font-size: 12px; border-left: none;">TOTAL AMOUNT</td>
                                <td style="font-size: 12px;width:60%;font-weight:500;background-color: #d7d7d7;padding: 5px 12px;color: #000; border: none;">{{getType(receiptvoucher.total_amount)}}</td>
                            </tr>

                            <tr>
                                <td colspan="3" style="border-top: 0.5px solid #868686; border-left: none; font-weight:500;background-color: #aeaeae;padding:5px  12px;color: #000;border:none; font-size: 12px;">
                                    <h3 *ngIf="receiptvoucher.total_amount" style="text-transform:uppercase; font-weight:500; margin:0; font-size:12px;">AMOUNT IN WORDS : {{inWords(amountconvert)}}</h3>
                                </td>
                            </tr>

                            <tr *ngIf="select_teamsconditions != ''">
                                <td colspan="3" style="border-top: 0.5px solid #868686; border-bottom: none; border-right: none; border-left: none; font-weight:500; background-color: #aeaeae; color: #000; font-size: 12px; padding: 10px !important;">
                                    <h4 style="text-transform:uppercase; font-weight:600; margin:0; font-size:12px;">TERMS & CONDITIONS :</h4>
                                    <ul style="margin-top: 10px;">
                                        <li style="list-style:none; padding-bottom: 5px;">{{receiptvoucher.description}}</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3" style="border: 0.5px solid #868686; font-weight:500; background-color: #aeaeae; color: #000; font-size: 12px; border-right: none; border-left: none; padding: 10px !important;">
                                    <h4 style="text-transform:uppercase; font-weight:600; margin:0;font-size:12px;">NARRATION</h4>
                                    <ul style="margin-top: 10px;">
                                        <li style="list-style:none; padding-bottom: 5px;">{{receiptvoucher.narration}}</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3" style="border: 0.5px solid #868686; font-weight:500; background-color: #aeaeae; color: #000; font-size: 12px; text-align: right; padding: 15px 30px 10px 30px !important; border-right: none; border-left: none;">
                                    <p style="text-transform:uppercase; margin:0; padding-bottom:50px; font-size:12px;">For
                                        <span  *ngIf="activecompany.company_name == '' ">GSTAPPS</span> <span *ngIf="activecompany.company_name != '' ">{{activecompany['company_name']}}</span> </p>
                                        <br>
                                        
                                    <b style="text-transform:uppercase;margin:0; font-size:12px;">Authorised Signatory</b>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3" style="padding: 10px !important; border: 0.5px solid #868686; font-weight:500; background-color: #aeaeae; color: #000; font-size: 12px; border-right: none; border-left: none;">
                                    <b style="text-transform:capitalize; margin:0; font-size:12px;">all disputes subject to jurisdiction of courts in new delhi.</b>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3" style="border: 0.5px solid #868686; font-weight:500; background-color: #aeaeae; color: #000; font-size: 12px; text-align: center; border-right: none; border-left: none; padding: 10px !important;">
                                    <b *ngIf="receiptvoucher.company && receiptvoucher.company.city && receiptvoucher.company.city.name && receiptvoucher.company.city.state.name " style="text-transform:uppercase;margin:0;font-size:12px;">Address : {{receiptvoucher.company.city.name}}, {{receiptvoucher.company.city.state.name}} </b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<app-user-footer></app-user-footer>