<app-user-header></app-user-header>
<div id="wrapper">
    <!-- Sidebar -->
    <app-user-menu></app-user-menu>
    <div id="content-wrapper" (click)="openbuyplaneModal()">
        <div class="container-fluid">
            <!-- =========================================================================================== -->
            <ng-template #journalvouchermodal let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Journal Voucher</h4>
                    <button type="button" class="close" aria-label="Close" routerLink="/admin/journalvoucher" routerLinkActive="active" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body header-filed">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6 col-md-12">
                            <div class="input-group">
                                <mat-form-field class="width-set">
                                    <input matInput [matDatepicker]="voucherdate" [min]="current_periad_startdate" [max]="current_periad_enddate"  placeholder="Voucher Date" [(ngModel)]="journalvoucher.invoice_date">
                                    <mat-datepicker-toggle matSuffix [for]="voucherdate"></mat-datepicker-toggle>
                                    <mat-datepicker #voucherdate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6  col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="stock_group" class="text-bold">Purpose</label>
                                <ng-select id="selectLedger" bindLabel="name"
                                placeholder="Select Purpose"
                                [(ngModel)]="purpose"
                                (change)="getpurposeData(purpose)"
                                appendTo="body"
                                [searchable]="true">
                                <ng-option [value]="purpose" *ngFor="let purpose of purposelist" >{{purpose.name}}</ng-option>
                                </ng-select>
                                <div class="error-msg" *ngIf="!journalvoucher.purpose_id">
                                    <h4>Please Select Purpose.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="20">
                                <thead class="table-header">
                                    <tr>
                                        <th style="width: 30%;">Ledger</th>
                                        <th style="width: 25%;padding-left: 40px;">Type</th>
                                        <th style="width: 25%;">Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="mb-20 table-body">
                                    <tr *ngFor="let itemledger of ledgers; let i = index">
                                        <th>
                                            <div class="loader_setAll">
                                                <circle-progress *ngIf = "loader" [percent]="99"
                                                        [percent]="99" 
                                                        [radius]="20"
                                                        [space]="2"
                                                        [backgroundPadding]="0"
                                                        [outerStrokeWidth]="3"
                                                        [innerStrokeWidth]="1"
                                                        [outerStrokeColor]="'#30304b'"
                                                        [innerStrokeColor]="'#30304b80'"
                                                        [animation]="true"
                                                        [showSubtitle]="false"
                                                        [titleFontSize]="8"
                                                        [unitsFontSize]="8"
                                                        [animationDuration]="500" >
                                                </circle-progress>
                                            </div>
                                            <ng-select  *ngIf = "!loader" id="selectLedger" bindLabel="name"
                                            placeholder="Select Ledger"
                                            [(ngModel)]="itemledger.ledger_id"
                                            value="-1" 
                                            appendTo="body"
                                            (change)="getLedgerData(itemledger.ledger_id, i)"
                                            [searchable]="true">
                                            <ng-option [value]="ledger.uid" *ngFor="let ledger of ledgerList; let l = index" >{{ledger.name}}</ng-option>
                                            <ng-template ng-header-tmp>
                                                <div class="error-msg" (click)="openLedgerAddModal()"  >
                                                    <h4>Create a New Ledger.</h4>
                                                </div>
                                            </ng-template>
                                            </ng-select>
                                        </th>
                                        <th  style="text-align: center;">
                                            <div class="form-group mr-0">
                                                <mat-radio-group aria-label="Select an option"  (change)="calculateamount(itemledger, 'type' ,i)"  [(ngModel)]="itemledger.type" >
                                                <mat-radio-button value="debit">Dr.</mat-radio-button>
                                                <mat-radio-button value="credit">Cr.</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </th>
                                        <th>
                                            <input class="form-control text-set" type="number"  pattern="^\s*(?=.*[0-9]*)\d*(?:\.\d{1,2})?\s*$"  [(ngModel)]="itemledger.amount" (change)="calculateamount(itemledger, i, 'amount')" value="{{itemledger.amount}}" id="amount" />
                                        </th>
                                        <th><button class="add-btn remove-btn"  (click)="removeLedger(i, itemledger)">X</button></th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="12">
                                            <button class="add-btn invoice-btn add-card-btn"  (click)="addLedger()"><i class="fa fa-plus-circle" aria-hidden="true"></i> ADD MORE </button>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>   
                                <div class="error-msg" style="text-align: center;" *ngIf="disablebtn == false" >
                                    <h4>Please Enter  Debit Amount & Credit Amount is Equal.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="forn-group">
                                <label class="text-bold" for="Narration">Narration</label>
                                <textarea class="form-control text-font rounded-0"  [(ngModel)]="journalvoucher.narration" id="Narration" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn footer-btn" [disabled]="!disablebtn == true || !journalvoucher.purpose_id" (click)="done(createinvoice)" >SAVE</button>
                    <!-- <button type="button" class="btn footer-btn"  routerLink="/journalvoucher" routerLinkActive="active" (click)="d('Cross click')">CANCEL</button> -->
                </div>
            </ng-template>
            <!-- =========================================================================================== -->
            <ng-template #createinvoice let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">CONFIRMATION</h4>
                    <button type="button" class="close" aria-label="Close" routerLink="/admin/journalvoucher" routerLinkActive="active" (click)="d('Cross click')">
                       
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body done-modal">
                    <h1>Are you sure want to create this Journal Invoice .</h1>
                </div>
                <div class="modal-footer">
                    <button class="btn footer-btn" [disabled]="clicked" (click)="genrateVoucher()">YES</button>
                    <button class="btn footer-btn"  routerLink="/admin/journalvoucher" routerLinkActive="active"  (click)="c('close')">CANCEL</button>
                </div>
            </ng-template>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<app-user-footer></app-user-footer>